<a href="https://colab.research.google.com/github/laxmi2577/LAXMIRANJAN_AIML_2001206049/blob/main/03_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input('ENTER YOUR CHOICE: '))
for i in list:
   c=n*i
   print(c)

ENTER YOUR CHOICE:6
6
12
18
24
30
36
42
48
54
60

In [6]:
#USING RANGE() IN FOR LOOP
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
n=int(input("ENTER THE NUMBER :"))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

ENTER THE NUMBER :6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [14]:
n=int(input("ENTER THE NUMBER :"))
sum=0
for i in range(2,n,2):
  sum=sum+i
print('SUM IS=',sum)

ENTER THE NUMBER :10
SUM IS= 20

In [17]:
for i in range(5):
  for j in range(5):
     print(i+1,end=' ')
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [15]:
#NESTED FOR LOOP
for i in range(5):
  for j in range(5):
     print(i,end=' ')
  print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [18]:
r=int(input("ENTER THE NUMBER :"))
for i in range(0,r+1):
  for j in range(i):
    print("*",end=' ')
  print()

ENTER THE NUMBER :5

*
* *
* * *
* * * *
* * * * *

In [19]:
r=int(input("ENTER THE NUMBER :"))
for i in range(0,r+1):
  for j in range(i):
    print(i,end=' ')
  print()

ENTER THE NUMBER :5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
#using while loop
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print("SUM FROM 1 TO 10=",s)

SUM FROM 1 TO 10= 55

In [25]:
n=int(input("ENTER THE NUMBER :"))
r=0

while n>0:
  d=int(n%10)
  r=r*10+d
  n=int(n/10)
print('REVERSE=',r)

ENTER THE NUMBER :456
REVERSE= 654

In [10]:
list=['LIPUN','BAISAKHI','SUNIL','BIKASH']
for i in range(len(list)):
  print("HELLO",list[i])

HELLO LIPUN
HELLO BAISAKHI
HELLO SUNIL
HELLO BIKASH

In [3]:
list=[10,30,23,43,65,12]
sum=0
for i in list:
  sum=sum+i
print("THE SUM IS = ",sum)

THE SUM IS =  183