<a href="https://colab.research.google.com/github/laxmi2577/LAXMIRANJAN_AIML_2001206049/blob/main/24_01_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.INPUT RADIUS FINDS AREA OF CIRCLEAND PERIMETER OF THE CIRCE

In [ ]:
r=int(input("ENTER RADIUS OF THE CIRCLE: "))
area=3.141*r*r
perimeter=2*3.141*r
print("THE AREA OF CIRCLE OF GIVEN CIRCLE IS=",area)
print("THE PERIMETER OF CIRCLE OF GIVEN CIRCLE IS=",perimeter)

ENTER RADIUS OF THE CIRCLE: 5
THE AREA OF CIRCLE OF GIVEN CIRCLE IS= 78.525
THE PERIMETER OF CIRCLE OF GIVEN CIRCLE IS= 31.41

2.INPUT KILOMETER CONVERTS TO CENTIMETER,METER AND MILIMETER

In [ ]:
km=float(input("ENTER KILOMETER VALUE= "))
m=km*1000
cm=km*100000
mm=km*1000000
print("THE GIVEN KILOMETER IN METER IS=",m)
print("THE GIVEN KILOMETER IN CENTIMETER IS=",cm)
print("THE GIVEN KILOMETER IN MILIMETER IS=",mm)

ENTER KILOMETER VALUE= 6.3
THE GIVEN KILOMETER IN METER IS= 6300.0
THE GIVEN KILOMETER IN CENTIMETER IS= 630000.0
THE GIVEN KILOMETER IN MILIMETER IS= 6300000.0

3.INPUT TWO NUMBERS FIND SUM WITHOUT '+' OPERATOR

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def sum(a,b):
    for i in range(1,b + 1):
        a= a+1
    return a
print('SUM OF NUMBERS=',sum(a,b))

ENTER a VALUE=49
ENTER b VALUE=48
SUM OF NUMBERS= 97

4.INPUT TWO NUMBERS FIND REMAINDER WITHOUT '%'

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def rem(a,b):
    return(a-b*(a//b))
print("THE REMAINDER IS=",rem(a,b))

ENTER a VALUE=100
ENTER b VALUE=7
THE REMAINDER IS= 2

5.INPUT TEMPERATURE FINDS CELSIUS AND FAHRENHEIT AND VICE-VERSA

In [7]:
Celsius=float(input("Enter the celsius value: "))
Fahrenheit =(Celsius * 1.8) + 32
print("The Value in Fahrenheit", Fahrenheit)
Fahrenheit_f=float(input("Enter fahrenheit the value : "))
Celsius_c=int((Fahrenheit_f - 32) / 1.8)
print("The value in celsius",Celsius_c)

Enter the celsius value: 53
The Value in Fahrenheit 127.4
Enter fahrenheit the value : 78
The value in celsius 25

6.INPUT A NUMBER FINDS REVERSE NUMBER WITHOUT LOOPING STRUCTURE

In [10]:
n=int(input("Enter the number: "))
rev=int(str(n)[::-1])
print("The reverse of the given number is:",rev)

Enter the number: 49
The reverse of the given number is: 94