<a href="https://colab.research.google.com/github/laxmi2577/LAXMIRANJAN_AIML_2001206049/blob/main/PYTHON_PROGRAMMING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2(i)FOR LOOP
n=int(input("ENTER n: "))
for i in range(n):
  print(i+1,end=', ')

#WHILE LOOP

n = int(input("\nEnter n: "))
i=1
while i<=n:
   print(i, end=', ')
   i=i+1

ENTER n: 40
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
Enter n: 40
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,

In [ ]:
#2(ii)FOR LOOP
n=int(input("ENTER n: "))
for i in range(1,n,2):
  print(i,end=', ')
   
#WHILE LOOP

n = int(input("\nENTER n: "))
i=1
while i<=n:
   if i%2!=0:
     print(i, end=', ')
   i=i+1

ENTER n: 40
1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39,
ENTER n: 40
1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39,

In [ ]:
#2(iii)FOR LOOP
n=int(input("ENTER n: "))
for i in range(2,n,2):
  print(i,end=', ')

#WHILE LOOP

n = int(input("\nENTER n: "))
i=1
while i<=n:
   if i%2==0:
     print(i, end=', ')
   i=i+1

ENTER n: 40
2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38,
ENTER n: 40
2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40,

In [ ]:
#2(iv)FOR LOOP
n=int(input("ENTER n: "))
for i in range(1,n):
  c=i*i
  print(c,end=', ')

#WHILE LOOP

n = int(input("\nENTER n: "))
i=1
while i<=n:
  c=i*i
  print(c, end=', ')
  i=i+1

ENTER n: 10
1, 4, 9, 16, 25, 36, 49, 64, 81,
ENTER n: 10
1, 4, 9, 16, 25, 36, 49, 64, 81, 100,

In [ ]:
#2(v)#FOR LOOP
n=int(input("ENTER n: "))
for i in range(1,n,2):
  c=i*i
  print(c,end=', ')

#WHILE LOOP

n = int(input("\nENTER n: "))
i=1
while i<=n:
  if i%2!=0:
    c=i*i
    print(c, end=', ')
  i=i+1

ENTER n: 10
1, 9, 25, 49, 81,
ENTER n: 10
1, 9, 25, 49, 81,

In [ ]:
#2(vi)#FOR LOOP
n=int(input("ENTER n: "))
for i in range(2,n,2):
  c=i*i
  print(c,end=', ') 

#WHILE LOOP

n = int(input("\nENTER n: ")) 
i=1
while i<=n:
  if i%2==0:
    c=i*i
    print(c, end=', ')
  i=i+1

ENTER n: 10
4, 16, 36, 64,
ENTER n: 10
4, 16, 36, 64, 100,

In [ ]:
#2(vii)#FOR LOOP
n=int(input("ENTER n: "))
r=int(input("ENTER r: "))
for j in range(1,n):
  def power(j,r):
    res=0
    for i in range(r):
        res *= j
    return res   
  print(pow(j,r),end=', ')

#WHILE LOOP

n = int(input("\nENTER n: "))
r=int(input("ENTER r: "))
i=1
while i<=n:
  def power(i,r):
    res=0
    for j in range(r):
        res *= i
    return res   
  print(pow(i,r),end=', ')
  i=i+1

ENTER n: 20
ENTER r: 5
1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049, 100000, 161051, 248832, 371293, 537824, 759375, 1048576, 1419857, 1889568, 2476099,
ENTER n: 20
ENTER r: 5
1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049, 100000, 161051, 248832, 371293, 537824, 759375, 1048576, 1419857, 1889568, 2476099, 3200000,

In [ ]:
#2(viii)#FOR LOOP
n=int(input("ENTER n: "))
r=int(input("ENTER r: "))
for j in range(1,n,2):
  def power(j,r):
    res=0
    for i in range(r):
        res *= j
    return res   
  print(pow(j,r),end=', ')

#WHILE LOOP

n=int(input("\nENTER n: "))
r=int(input("ENTER r: "))
i=1
while i<=n:
  if i%2!=0:
     def power(i,r):
        res=0
        for j in range(r):
          res *= i
        return res 
     print(pow(i,r),end=', ')
  i=i+1

ENTER n: 20
ENTER r: 5
1, 243, 3125, 16807, 59049, 161051, 371293, 759375, 1419857, 2476099,
ENTER n: 20
ENTER r: 5
1, 243, 3125, 16807, 59049, 161051, 371293, 759375, 1419857, 2476099,

In [ ]:
#2(ix)#FOR LOOP
n=int(input("ENTER n: "))
r=int(input("ENTER r: "))
for j in range(2,n,2):
  def power(j,r):
    res=0
    for i in range(r):
        res *= j
    return res   
  print(pow(j,r),end=', ')

#WHILE LOOP

n=int(input("\nENTER n: "))
r=int(input("ENTER r: "))
i=1
while i<=n:
  if i%2==0:
     def power(i,r):
        res=0
        for j in range(r):
          res *= i
        return res 
     print(pow(i,r),end=', ')
  i=i+1

ENTER n: 20
ENTER r: 5
32, 1024, 7776, 32768, 100000, 248832, 537824, 1048576, 1889568,
ENTER n: 20
ENTER r: 5
32, 1024, 7776, 32768, 100000, 248832, 537824, 1048576, 1889568, 3200000,

In [ ]:
#2(x)#FORLOOP
n=int(input("ENTER n: "))
f=1
for i in range(1,n + 1):
       f = f*i
print(f)

#WHILE LOOP

n=int(input("\nENTER n: "))
f=1
i=1
while i<=n:
  f=f*i
  i=i+1
print(f)

ENTER n: 5
120

ENTER n: 5
120

In [ ]:
#2(xi)#FOR LOOP
n=int(input("ENTER n: "))
for i in range(1,n):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

#WHILE LOOP

n=int(input("\nENTER n: "))
f=1
i=1
while i<=n:
  f=f*i
  print(f,end=', ')
  i=i+1

ENTER n: 15
1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800, 39916800, 479001600, 6227020800, 87178291200,
ENTER n: 15
1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800, 39916800, 479001600, 6227020800, 87178291200, 1307674368000,

In [ ]:
#2(xii)#FOR LOOP
n=int(input("ENTER n: "))
for i in range(1,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

ENTER n: 20
1, 6, 120, 5040, 362880, 39916800, 6227020800, 1307674368000, 355687428096000, 121645100408832000,

In [ ]:
#2(xiii)
n=int(input("ENTER n: "))
for i in range(2,n,2):
  f=1
  for j in range(1,i+1):
    f=f*j
  print(f,end=', ')

ENTER n: 20
2, 24, 720, 40320, 3628800, 479001600, 87178291200, 20922789888000, 6402373705728000,