<a href="https://colab.research.google.com/github/laxmi2577/LAXMIRANJAN_AIML_2001206049/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#WAP the base class content addition of 2 no but the derive class content multiplction of 2 no
class A():
 def sum(self,a,b):
  return a+b
class B(A):
 def mul(self,a,b):
  return a*b
d=B()
a=int(input('INPUT a='))
b=int(input('INPUT b='))
print(d.sum(a,b))
print(d.mul(a,b))

INPUT a=5
INPUT b=3
8
15

In [ ]:
#WAP usig multi level inheritance to devlope a calculator which content four derive of derive class and only one child class
class A():
 def sum(self,a,b):
  return a+b
class B(A):
 def sub(self,a,b):
  return a-b
class C(B):
 def mul(self,a,b):
  return a*b
class D(C):
 def div(self,a,b):
  return a/b
class E(D):
 def rem(self,a,b):
  return a%b
d=E()
a=int(input('INPUT a='))
b=int(input('INPUT b='))
print(d.sum(a,b))
print(d.sub(a,b))
print(d.mul(a,b))
print(d.div(a,b))
print(d.rem(a,b))

INPUT a=5
INPUT b=4
9
1
20
1.25
1

In [ ]:
class A():
 def sum(self,a,b):
  return a+b
class B():
 def sub(self,a,b):
  return a-b
class C():
 def mul(self,a,b):
  return a*b
class D():
 def div(self,a,b):
  return a/b
class E(A,B,C,D):
 def rem(self,a,b):
  return a%b
d=E()
a=int(input('INPUT a='))
b=int(input('INPUT b='))
print(d.sum(a,b))
print(d.sub(a,b))
print(d.mul(a,b))
print(d.div(a,b))
print(d.rem(a,b))

INPUT a=5
INPUT b=4
9
1
20
1.25
1

In [ ]:
import numpy as np
print(np.__version__)

1.22.4

In [ ]:
import numpy
list=[10,20,30,40,50]
arr=numpy.array(list)
print(arr)

[10 20 30 40 50]

In [ ]:
import numpy
list=[10,20,30,40,50]
arr=np.array(list)
print('SIZE:',arr.size)
print('DATATYPE:',arr.dtype)
print('SIMENSION:',arr.ndim)
print('SHAPE:',arr.shape)

SIZE: 5
DATATYPE: int64
SIMENSION: 1
SHAPE: (5,)

In [ ]:
import numpy as np
list=[[10,20,30],[40,50]]
arr=np.array(list)
print(arr[1])

[list([10, 20, 30]) list([40, 50])]

<ipython-input-13-88c22de254df>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr=np.array(list)

In [ ]:
import numpy as np
list=[10,20,30,40,50]
arr=np.array(list)
print('element')
for ele in arr:
  print(ele)

element
10
20
30
40
50

In [ ]:
import numpy as np
list=[10,20,30,40,50]
arr=np.array(list)
print('element')
for ele in arr:
  print(ele*2)

element
20
40
60
80
100

In [ ]:
import numpy as np
ndArray=np.array([1,2,3,4],ndmin=6)
print(ndArray)
print(ndArray.ndim)

[[[[[[1 2 3 4]]]]]]
6

In [ ]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
th_di_arr=np.array(list)
print(th_di_arr)

[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [3]:
import numpy as np
list=[[10,20,30],[40,50,60]]
arr=np.array(list)
print('Element')
for ele in arr:
 print(ele)

Element
[10 20 30]
[40 50 60]

In [4]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print('Element')
for ele in arr:
 print(ele)

Element
[10 20 30]
[40 50 60]
[70 80 90]

In [5]:
print("%10.3e"% (356.08977))

 3.561e+02

In [8]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
for i in range(n):
 arr[i]=int(input())
print('Array Elements :', arr)

Enter Size:2
Enter 2 element :
11
65
Array Elements : [11 65]

In [12]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
sum=0
for i in range(n):
 arr[i]=int(input())
 sum=sum+arr[i]
print('Array Elements :', arr)
print(sum)

Enter Size:2
Enter 2 element :
11
22
Array Elements : [11 22]
33

In [14]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
def oddcount(a,o):
  if a%2!=0:
    o+=1
  return o
def evencount(a,e):
  if a%2==0:
    e+=1
  return e
o=0
e=0
for i in range(n):
  arr[i]=int(input())
  o=oddcount(arr[i],o)
  e=evencount(arr[i],e)
print('Array Elements :', arr)
print('ODD NUMBER=',o)
print('EVEN NUMBER=5',e)

Enter Size:4
Enter 4 element :
10
2
3
24
Array Elements : [10  2  3 24]
ODD NUMBER= 1
EVEN NUMBER= 3

In [10]:
import numpy
m = int (input('Enter Row Size:'))
n = int (input('Enter Column Size:'))
arr = numpy.ndarray(shape=(m,n),dtype=int)
print('Size :', arr.size)
print('Shape :', arr.shape)
print('Dimension :', arr.ndim)

Enter Row Size:2
Enter Column Size:3
Size : 6
Shape : (2, 3)
Dimension : 2

In [11]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
print('Slicing...... .....')
res=arr[:,:]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [17]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
print('Slicing...... .....')
res=arr[0:3,1:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[20 30]
 [50 60]
 [80 90]]

In [18]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
print('Slicing...... .....')
res=arr[1:3,1:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[50 60]
 [80 90]]

In [22]:
str1 = "HELLO LIPUN" 
slic = slice(0,10,3)
slic2 = slice(-1,0,-3)  
str2 = str1[slic] 
str3 = str1[slic2] 
print(str2) 
print(str3)

HLLU
NIOE

In [21]:
x = "Lipun at work"
print(x[0:5])

Lipun

In [25]:
str='abit is an enginnering college'
str1=slice(0,27,3)
str2=str[str1]
print(str[0:27:5])
print(str2)

ai nnl
atsnnnrgo

In [26]:
import pandas as pd 
import numpy as np 
info = np.array(['P','a','n','d','a','s']) 
a = pd.Series(info) 
print(a)

0    P
1    a
2    n
3    d
4    a
5    s
dtype: object

In [15]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing......')
res=arr[:,:]
print(res)
print('Slicing......')
res=arr[0:3,0:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing......
[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing......
[[10 20 30]
 [40 50 60]
 [70 80 90]]